﻿@using HeavyManager.UI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="row align-items-end justify-content-center">
    <div class="col-md-4">
        @using (Html.BeginForm("Login", "Conta", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "jumbotron", role = "form" }))
        {
            <h1 class="text-center">Login de Usuario</h1>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2" })

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <button class="btn btn-outline-primary pull-right" type="submit">
                    <i class="fa fa-sign-in"></i>&nbsp;Efectuar Login
                </button>
            </div>
            @* Ativar isso assim que você tiver a confirmação de conta ativada para a funcionalidade de redefinição de senha
                <p>
                    @Html.ActionLink("Esqueceu sua senha?", "ForgotPassword")
                </p>
            *@
        }
    </div>
</div>