﻿<!DOCTYPE html>
<html lang="pt">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HeavyManager</title>
    <link href="~/Assets/plugins/PleaseWait/please-wait.css" rel="stylesheet" />
    <script src="~/Assets/plugins/PleaseWait/please-wait.js"></script>

    <!-- Bootstrap CSS -->
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("Navbar")
    }

    <div class="container-fluid">
        <script src="~/Assets/js/loader.js"></script>
        @RenderBody()
    </div>

    <script src="~/Assets/js/jquery-3.1.1.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Assets/js/vue.js"></script>
    @RenderSection("script", false)
</body>
</html>